.section1 {
    background-color: #f5f5f5;
    width: 100%;
    height: 380px;
    > img {
    width: 100%;
    height: 100%;
    }
    > h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
    color: white;
    position: absolute;
    margin-top: -230px;
    text-shadow: 0.03em 0 black, 0 0.03em black, -0.03em 0 black,
        0 -0.03em black;
    margin-left: 400px;
    font-size: 60px;
    }
}
.section2 {
    background-color: #f5fafd;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 150px;
    align-items: center;
    .icon__container {
    display: flex;
    > div {
        display: flex;
        > img {
        height: 80px;
        }
        > p {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
        font-size: 18px;
        margin-top: 30px;
        margin-left: 5px;

        color: #0094c6;
        }
    }
    }
}
.cont {
    background-color: #f5fafd;
}
.product__section {
    width: 98%;
    height: 800px;
    background-color: #f5fafd;
    .title {
    display: flex;
    justify-content: center;
    > h1 {
        margin-top: 100px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
        font-size: 40px;
    }
    }
    .slide__container {
    width: 900px;
    height: 570px;
    display: flex;
    margin-left: 270px;
    margin-top: 40px;
    > img {
        width: 40%;
        height: 100%;
    }
    .content__container {
        height: 100%;
        width: 60%;
        .slide__title {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
        font-size: 25px;
        margin-left: 20px;
        margin-top: 20px;
        font-weight: bold;
        }
        .price {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
        font-size: 20px;
        font-weight: bold;
        margin-left: 40px;
        }
        .quantity {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
        font-size: 20px;
        margin-left: 40px;
        margin-top: 30px;
        }
        .product__quantity {
        width: 55px;
        height: 55px;
        border-radius: 5px;
        border: 1px solid #cecece;
        margin-left: 140px;
        position: absolute;
        margin-top: 15px;
        font-size: 22px;
        background-color: white;
        padding-left: 20px;
        padding-top: 10px;
        }
        .order__button {
        background-color: #0093c6;
        color: white;
        padding: 10px 20px 10px 20px;
        border-radius: 5px;
        font-size: 20px;
        margin-top: 20px;
        position: absolute;
        margin-left: 40px;
        }
        .order__button:hover {
        background-color: white;
        color: #0093c6;
        border: 1px solid #0093c6;
        padding: 10px 20px 10px 20px;
        border-radius: 5px;
        font-size: 20px;
        margin-top: 20px;
        position: absolute;
        margin-left: 40px;
        text-decoration: none;
        }
        .payment {
        margin-top: 120px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
        }
        .desc1 {
        margin-left: 20px;
        margin-top: 10px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
        }
        .desc__title {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
        font-weight: bold;
        font-size: 20px;
        margin-left: 20px;
        }
        .points {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
        font-size: 16px;
        margin-left: 20px;
        }
    }
    }
}
.section4 {
    background-color: rgba(196, 196, 196, 0.15);
    width: 100%;
    height: 400px;
    .section4__image {
    height: 100px;
    margin-top: 30px;
    }
    .section4__title {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
    margin-top: 50px;
    color: gray;
    }
}
.section5 {
    background-color: #f5fafd;
    width: 100%;
    height: 600px;
    display: flex;
    .sub_section1 {
    width: 50%;

    .title {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
        font-size: 27px;
        font-weight: bold;
        margin-top: 150px;
    }
    .description1 {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
        font-size: 23px;
        margin-top: 30px;
        margin-left: 110px;
    }
    .description2 {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
        font-size: 23px;
        margin-top: -10px;
        margin-left: 110px;
        color: #0094c6;
    }
    }
    .sub_section2 {
    .ele {
        width: 650px;
        height: 500px;
        margin-top: 30px;
        border-radius: 5px;
    }
    }
}
.section6 {
    width: 100%;
    height: 300px;
    background-color: rgba(196, 196, 196, 0.15);
    display: flex;
    .sub__section1 {
    height: 40px;
    width: 50%;

    .logo {
        width: 170px;
        margin-top: 40px;
        margin-left: 50px;
        position: absolute;
        color: rgba(196, 196, 196, 0.15);
    }
    .text-section {
        margin-left: auto;
        width: 300px;
        margin-right: 60px;
        .text {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
        font-size: 25px;
        margin-top: 70px;
        }
        .text2 {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
        font-size: 25px;
        font-weight: bold;
        }
    }
    }
    .sub__section2 {
    height: 40px;
    width: 50%;
    .logo {
        width: 170px;
        margin-top: 40px;
        margin-left: 50px;
        position: absolute;
    }
    .text-section {
        margin-left: auto;
        width: 300px;
        margin-right: 60px;
        .text {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
        font-size: 25px;
        margin-top: 70px;
        }
        .text2 {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
        font-size: 25px;
        font-weight: bold;
        }
    }
    }
}
.section7 {
    background-color: #f5fafd;
    width: 100%;
    height: 600px;
    display: flex;
    .con {
    height: 100%;
    width: 50%;

    > img {
        width: 430px;
        margin-top: 60px;
        margin-left: 60px;
    }
    }
    .con2 {
    width: 50%;
    height: 100%;
    .logo-text {
        font-size: 130px;
        margin-left: 50px;
        margin-top: 60px;
        color: #0094c6;
    }
    }
}
.section8 {
    background-color: #0094c6;
    width: 100%;
    height: 200px;
}
