.thanks {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
    margin-top: 120px;
    font-size: 55px;
    color: blue;
    }
    .thank {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
    font-size: 25px;
    font-style: italic;
    font-weight: 500;
    }
    .continue {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
    color: white;
    font-size: 20px;
    margin-top: 30px;
    border: 2px solid white;
    background-color: blue;
    padding: 15px;
    border-radius: 40px;
    font-style: italic;
    }
