.contact__container {
    margin-top: 100px;
    width: 47%;

    .contact__title {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
        font-weight: bolder;
    }
    .contact__subtitle {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
        font-weight: bold;
        font-size: 20px;
        padding: 20px;
        padding-left: 20px;
        margin-top: 50px;
    }
    .sp {
        margin-left: 120px;
    }
    .form-control {
        text-align: center;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
        font-weight: bold;
        color: black !important;
    }
    .lable-loo {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
    }
    .message__loo {
        height: 150px;
    }
    .contact__button {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
        margin-top: 20px;
        border: none;
        background-color: black;
        color: white;
        padding: 10px 20px 10px 20px;
        border-radius: 5px;
        margin-bottom: 100px;
    }
    .contact__button:hover {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
        margin-top: 20px;
        border: 1px solid black;
        background-color: white;
        color: black;
        padding: 10px 20px 10px 20px;
        border-radius: 5px;
    }
}
