.faltoo {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
    font-size: 16px;
    margin-left: 20px;
    margin-top: 0px;

    cursor: pointer;
    }
    .form-control {
    height: 50px !important;
    }
    .form-group {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
    font-size: 18px;
    font-style: italic;
    margin-top: 10px;
    }
    .shipping {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
    font-size: 25px;
    margin-top: 20px;
    font-style: italic;
    }
    .lolo {
    background-color: #f5fafd;
    width: 100%;
    }
    .loop:hover {
    margin-right: 42px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #dd3333;
    background-color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
    color: #dd3333;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    font-size: 20px;
    }
    .loop {
    margin-right: 42px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid white;
    background-color: #a0cbd6;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    font-size: 20px;
    }
    .active {
    color: blue;
    }
    .olppo {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
    margin-left: 20px;
    font-style: italic;
    margin-bottom: 30px;
    font-size: 45px;
    }
    .make {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
    font-size: 30px;
    margin-top: 10px;

    font-style: italic;
    }
    .makeIt {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
    margin-left: 20px;
    font-size: 17px;
    margin-bottom: -20px;
    margin-top: 80px;
    margin-bottom: -10px;
    margin-left: 20px;
    }
    .carda {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
    font-size: 30px;
    font-style: italic;
    margin-top: 10px;
    color: blue;
    margin-left: 10px;
    }
    .carda h4 {
    margin-top: 10px;
    color: blue;
    margin-left: 10px;
    }
    .laa {
    font-size: 30px;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
    }

    .lq {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
    }
    .qol {
    background-color: #f8f8f8;
    }
    .nom {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
    font-size: 20px;
    color: gray;
    }
    .klop {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 10px;
    }
    .side {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
    margin-top: 40px;
    font-size: 35px;
    font-style: italic;
    margin-left: 30px;
    }
    .lmera {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
    font-size: 20px;
    margin-left: 40px;
    margin-top: 20px;
    font-weight: 600;
    }
    .lLo {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
    margin-left: 40px;
    margin-right: 30px;
    }
    .sharam {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
    margin-left: 40px;
    margin-right: 30px;
    margin-top: 20px;
    }
