.result__header {
    margin-top: 60px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
    }
    .query {
    color: blue;
    }
    .row__cont {
    width: 90%;
    margin-left: 100px;
    }
    .noreuslt {
    margin-top: 60px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
    }
